.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-item {
    list-style: none;
    margin: 0 5px;
  }
  
  .page-link {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .page-link:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }
  