/* Style for the header */
header {
    background-color: #333;
    color: #fff;
    /* padding: 1rem; */
  }
  
  /* Style for the brand */
  .brand a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    padding-left: 24px;
  }
  
  /* Style for the navigation links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    padding-right: 111px;
    text-decoration: none;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Hover effect for navigation links */
  .nav-links a:hover {
    color: #FFC6AC;
  }
  